{% extends 'base.html.twig' %}

{% block title %}
    Products
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/product.css') }}" />
    <link rel="stylesheet" href="{{ asset('build/css/import-csv.css') }}" />
{% endblock %}

{% block body %}

    <div class="container">

        {% include 'product/import-products.html.twig' %}

        {% include 'product/products-table.html.twig' %}

        {{ include('product/pagination.html.twig') }}

    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/import.js') }}"></script>
{% endblock %}