<div class="vich-image">
    <div class="file-upload">
        <label class="vich-image__label">
            <img class="vich-image__uploaded-icon" src="{{ asset('img/upload-icon.gif') }}">
            {{ form_widget(form.uploadedFiles) }}
        </label>
    </div>
</div>